body {
    font-family: Verdana;
    background-color: #52D9Db;
    font-size: 1,125 rem;
    text-align: center; 
    text-decoration:none;
    
}
h1 {
    color: black;
    font-size: 1,375;
    font-family: 'Courier New';
    color: green;
}
h2 {
    color: black;
    font-size: 1,375 rem;
    font-family: 'Courier New';
    color: green;
    
}
table{
    border-collapse:collapse
    width:100%;
    }
a { text-decoration: none;
   border:2px solid black; /*exemplo de borda preta com 2px*/
    padding: 4px; /*espaço interno opcional para melhorar a aparência*/
    border-radius: 5px; /*borda arredondada,opcional*/}
    
