body {
    font-family: Verdana;
    background-color: #52D9Db;
    font-size: 1,125 rem;
    text-align: center; 
    text-decoration:none;
    
}
h1 {
    color: black;
    font-size: 1,375;
    font-family: 'Courier New';
    color: green;
}
h2 {
    color: black;
    font-size: 1,375 rem;
    font-family: 'Courier New';
    color: green;
    
}
