body {
    font-family: Verdana;
    background-color: #52D9Db;
    font-size: 18px;
    text-align: center; 
    
}
h1 {
    color: black;
    font-size: 22px;
    font-family: 'Courier New';
    color: green;
}
h2 {
    color: black;
    font-size: 22px;
    font-family: 'Courier New';
    color: green;
}